*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
   height:100vh;
   display: grid;
   place-items: center;

}
.wrapper {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
}

.wrapper .carousel-item,
.wrapper .carousel-item-hidden {
    display: none; /* hide all slide images not currently being viewed */
}

.wrapper .carousel-item-visible {
    display: block; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}

.wrapper .carousel-item img {
    width: 100%;
    max-width: 900px;
    height: 500px;
    object-fit: cover;
}

/* Navigation control styles */
.wrapper .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}

.wrapper .carousel-actions button {
    border-radius: 50px;
    background-color: rgb(161, 157, 157);
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.wrapper .carousel-actions button#carousel-button-prev {
    margin-left: 20px; /* prevent previous button from touching the side*/
}

.wrapper .carousel-actions button#carousel-button-next {
    margin-right: 20px;  /* prevent next button from touching the side*/
}


.carousel-dots {
    text-align: center; 
}

.dot {
    opacity: 0.7; /* gray out dots for slides not being visted */
}

.dot:focus {
    border: 1px solid rgb(243, 242, 242); /* dot for currently visited slide */
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}